@import "./header";
@import "./footer";
@import "./media";

body {
  background-color: black;
  margin: 0%;
  padding: 0%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin: 10% auto 0% auto;
  text-align: center;
  width: 80%;
}

h2 {
  color: hsl(0, 0%, 40%);
}
iframe {
  max-width: 100%;
}
p {
  color: rgb(156, 160, 169);
}
#about {
  background-color: white;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  margin: 2% 0%;
  article {
    text-align: left;
    width: 100%;
    display: inline-block;
    font-size: 1.5em;
    #pTitle {
      font-size: 2em;
      color: black;
    }
    p {
      padding: 1%;
    }
  }
  #about-img {
    width: 100%;
    height: 100%;
    margin: 0%;
    display: inline-block;
  }
}
#about-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: rgb(153, 71, 26);
  h5 {
    color: black;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    display: flex;
    margin: 2%;
    padding: 2%;
    img {
      width: 100px;
      height: 100px;
      margin: auto;
    }
  }
}

#plan {
  .container {
    width: 100%;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(16, auto);
    justify-items: start;
    align-items: center;
    text-align: left;
    padding: 2%;
    border-bottom: 1px solid rgb(156, 160, 169);
    .number {
      font-size: 3em;
      color: rgb(156, 160, 169);
      padding: 2%;
      margin: 1%;
    }
    .title {
      font-size: 2em;
    }
    .description {
      color: rgb(156, 160, 169);
    }
    .container2 {
      display: grid;
      grid-template-rows: auto auto;
      padding: 2%;
      margin: 1%;
    }
  }
}

main #form {
  #email {
    padding: 0.75%;
    margin: 2%;
    width: 40%;
    height: 2vh;
    text-align: center;
  }
  #submit {
    margin: 2%;
    padding: 0.75%;
    width: 30%;
    height: 10vh;
    position: relative;
    font-size: 1.2em;
    background-color: rgb(167, 27, 30);
    opacity: 0.75;
    color: white;
    border: none;
    &:hover {
      opacity: 1;
    }
  }
}
